<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Math Microservice</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="container">
            <input id="input1" type="text" placeholder="First number" class="input-box">
            <input id="input2" type="text" placeholder="Second number" class="input-box">
            <input id="result" type="text" placeholder="Result" class="input-box" readonly>

            <div class="button-layout">
                <div class="button-group">
                    <button onclick="submitData('factorial')">Factorial</button>
                    <button onclick="submitData('fibonacci')">Fibonacci</button>
                    <button onclick="submitData('logarithm')">Logarithm</button>
                    <button onclick="submitData('power')">Power</button>
                    <button onclick="submitData('sqrt')">Square root</button>
                </div>
                <div class="button-group single-button">
                    <button onclick="clearInputs()">Clear</button>
                </div>
            </div>
        </div>
        <script>
            let currentOperation = "";

            function clearInputs() {
              console.log("Call of the function clear");
              document.getElementById('input1').value = '';
              document.getElementById('input2').value = '';
              document.getElementById('result').value = '';
              currentOperation = "";
            }

            async function submitData(operation) {
              console.log("An operation taken");
              currentOperation = operation;

              const val1 = document.getElementById('input1').value;
              const val2 = document.getElementById('input2').value;
              const resultBox = document.getElementById('result');

              if(["factorial", "fibonacci", "sqrt"].includes(currentOperation)) {
                if(!isValidInteger(val1)) {
                  resultBox.value = "Error: Input must be an integer";
                  return;
                }
                else if(val2 !== '') {
                  resultBox.value = "Error: Too many arguments";
                  return;
                }
              }

              if(["logarithm", "power"].includes(currentOperation)) {
                if(!isValidInteger(val1) || !isValidInteger(val2)) {
                  resultBox.value = "Error: Inputs must be integers";
                  return;
                }
              }

              let url = "";
              let numbers = {};

              console.log("URL assignment");

              switch(currentOperation) {
                case "factorial":
                  url = "/factorial";
                  numbers = {n: parseInt(val1)};
                  break;
                case "fibonacci":
                  url = "/fibonacci";
                  numbers = {n: parseInt(val1)};
                  break;
                case "logarithm":
                  url = "/log";
                  numbers = {input: parseInt(val1), base: parseInt(val2)};
                  break;
                case "power":
                  url = "/pow";
                  numbers = {base: parseInt(val1), exponent: parseInt(val2)};
                  break;
                case "sqrt":
                  url = "/sqrt";
                  numbers = {input: parseInt(val1)};
                  break;
                default:
                  resultBox.value = "Invalid operation";
                  return;
              }

              console.log("Switch made");

              try {
                const res = await fetch(url, {
                  method: "POST",
                  headers: {"Content-Type": "application/json"},
                  body: JSON.stringify(numbers)
                });

                console.log("Fetch");

                if(!res.ok) {
                  const err = await res.json();
                  if(err.detail) {
                    const message = Array.isArray(err.detail) ? err.detail[0].msg : err.detail;
                    resultBox.value = `Error: ${message}`;
                  } else {
                    resultBox.value = "Unknown error occurred.";
                  }
                }

                const data = await res.json();
                resultBox.value = data.result;
              } catch(err) {
                console.log(err);
              }
            }

            function isValidInteger(value) {
              if(value === "") return false;
              const parsed = Number(value);
              console.log(Number.isInteger(parsed));
              console.log(!isNaN(parsed));
              return Number.isInteger(parsed) && !isNaN(parsed);
            }
        </script>
    </body>
</html>