<!-- templates/login.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Login / Register</title>
        <link rel="stylesheet" href="/static/login.css">
    </head>
    <body>
        <div id="login-form">
            <div class="form-container">
              <form class="form-box" onsubmit="handleLogin(event)">
                <h2>Login</h2>
                <label for="login-username">Username:</label>
                <input id="login-username" name="username" type="text" class="input-box" required>
                <label for="login-password">Password:</label>
                <input id="login-password" name="password" type="password" class="input-box" required>
                <button type="submit" class="form-btn">Login</button>
                <p class="toggle-text">
                  Don't have an account?
                  <span class="toggle-btn" onclick="showForm('register')">Register here</span>
                </p>
              </form>
            </div>
        </div>
        <div id="register-form" class="hidden">
            <div class="form-container">
              <form class="form-box" onsubmit="handleRegister(event)">
                <h2>Register</h2>
                <label for="register-username">Username:</label>
                <input id="register-username" name="username" type="text" class="input-box" required>
                <label for="register-password">Password:</label>
                <input id="register-password" name="password" type="password" class="input-box" required>
                <button type="submit" class="form-btn">Register</button>
                <p class="toggle-text">
                  Already have an account?
                  <span class="toggle-btn" onclick="showForm('login')">Log in here</span>
                </p>
              </form>
            </div>
        </div>
        <script src="/static/sync.js"></script>
        <script src="/static/login.js"></script>
    </body>
</html>