<!DOCTYPE html>
<html>
  <head>
    <title>Application Metrics</title>
    <link rel="icon" href="/static/statistics.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/statistics.css">
  </head>
  <body>
    <h1>Application Metrics</h1>

    <div class="panel">
      <div class="panel-menu-bar" onclick="togglePanel(this)">
        <span>📊 Cache Hits Total</span>
        <span>▼</span>
      </div>
      <div class="panel-iframe">
        <iframe src="http://localhost:3000/d-solo/799701a1-04b5-4eb0-a535-93dcfd52a4cf/cache-hits-total-r?orgId=1&refresh=5s&from=now-15m&to=now&timezone=browser&panelId=1&__feature.dashboardSceneSolo=true" width="450" height="400" frameborder="0"></iframe>
      </div>
    </div>

    <div class="panel">
      <div class="panel-menu-bar" onclick="togglePanel(this)">
        <span>📉 Cache Misses Total</span>
        <span>▼</span>
      </div>
      <div class="panel-iframe">
        <iframe src="http://localhost:3000/d-solo/8e669e31-31fb-49d2-8c5a-ee65e0e55e44/cache-misses-total-r?orgId=1&refresh=5s&from=now-15m&to=now&timezone=browser&panelId=1&__feature.dashboardSceneSolo=true" width="450" height="400" frameborder="0"></iframe>
      </div>
    </div>

    <div class="panel">
      <div class="panel-menu-bar" onclick="togglePanel(this)">
        <span>⏱️ HTTP Request Duration (Seconds)</span>
        <span>▼</span>
      </div>
      <div class="panel-iframe">
        <iframe src="http://localhost:3000/d-solo/cb9a7b20-c184-482b-bd78-bd208ecb60d4/http-request-duration-seconds-r?orgId=1&refresh=5s&from=now-15m&to=now&timezone=browser&panelId=1&__feature.dashboardSceneSolo=true" width="450" height="400" frameborder="0"></iframe>
      </div>
    </div>

    <div class="panel">
      <div class="panel-menu-bar" onclick="togglePanel(this)">
        <span>📬 HTTP Requests Total</span>
        <span>▼</span>
      </div>
      <div class="panel-iframe">
        <iframe src="http://localhost:3000/d-solo/f752f833-3a07-4bcc-859a-6b29a5ddebae/http-requests-total-r?orgId=1&refresh=5s&from=now-15m&to=now&timezone=browser&panelId=1&__feature.dashboardSceneSolo=true" width="450" height="400" frameborder="0"></iframe>
      </div>
    </div>

    <div class="panel">
      <div class="panel-menu-bar" onclick="togglePanel(this)">
        <span>📦 HTTP Request Size (Bytes)</span>
        <span>▼</span>
      </div>
      <div class="panel-iframe">
        <iframe src="http://localhost:3000/d-solo/6603f6a9-5748-40be-bd91-a6492b53c4d9/http-request-size-bytes-r?orgId=1&refresh=5s&from=now-15m&to=now&timezone=browser&panelId=1&__feature.dashboardSceneSolo=true" width="450" height="400" frameborder="0"></iframe>
      </div>
    </div>

    <div class="panel">
      <div class="panel-menu-bar" onclick="togglePanel(this)">
        <span>📤 HTTP Response Size (Bytes)</span>
        <span>▼</span>
      </div>
      <div class="panel-iframe">
        <iframe src="http://localhost:3000/d-solo/95d931d2-c4d8-4be8-b037-8260462e80b7/http-response-size-bytes-r?orgId=1&refresh=5s&from=now-15m&to=now&timezone=browser&panelId=1&__feature.dashboardSceneSolo=true" width="450" height="400" frameborder="0"></iframe>
      </div>
    </div>

    <pre>{{statistics}}</pre>
    <script src="/static/sync.js"></script>
    <script src="/static/statistics.js"></script>
  </body>
</html>